<div style="width: 100%;height: 100%;" class="flex items-center justify-center w-full">
  @if (isVerifyingPage) {
  @if (resetForm) {
  <form [formGroup]="resetForm" class="flex items-center justify-center w-full">
    <div appearance="outlined" class="reset-card-container bg-white p-12">
      <div class="flex flex-col items-center justify-center mb-6">
        <h1 class="text-3xl font-bold text-blue-600 mb-1">Task Tide</h1>
        <p class="text-lg font-medium text-blue-400 mb-8">Ride the wave of productivity</p>
        <h2 class="text-center font-semibold mb-2" [ngClass]="isPasswordUpdated ? 'text-2xl text-green-500' :'text-xl'">
          {{isPasswordUpdated ? 'Password Updated Successfully!' :'
          Reset Your Password'}}</h2>
        <p class="text-gray-400 text-base">
          {{isPasswordUpdated ? 'Your password has been updated. You can now sign in with your new credentials.' :
          'Enter your new password below. Make sure it\'s strong and secure.'}}</p>
      </div>
      <div class="flex flex-col items-center justify-center mb-5">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-envelope" />
          <input required trimVal pInputText id="email" formControlName="userEmail" type="email" placeholder="Email"
            autocomplete="email" />
        </p-iconfield>
      </div>
      @if(!isPasswordUpdated){
      <div class="flex flex-col items-center justify-center w-full gap-4">
        <div>
          <p-iconfield>
            <p-inputicon style="z-index: 1;" styleClass="pi pi-lock" />
            <p-password id="password" formControlName="password" [toggleMask]="true" class="w-full"
              placeholder="Password" autocomplete="new-password">
              <ng-template #header>
                <div class="font-semibold text-xm mb-4">Pick a password</div>
              </ng-template>
              <ng-template #footer>
                <p-divider />
                <ul class="pl-2 ml-2 my-0 leading-normal">
                  <li>At least one lowercase</li>
                  <li>At least one uppercase</li>
                  <li>At least one numeric</li>
                  <li>Minimum 8 characters</li>
                </ul>
              </ng-template>
            </p-password>
          </p-iconfield>
          @if (resetForm.get('password')?.dirty && resetForm.get('password')?.hasError('required')) {
          <p-message severity="error" variant="simple" size="small"> Password is required!</p-message>
          }
          @else if (resetForm.get('password')?.dirty && !resetForm.get('password')?.hasError('required')
          &&resetForm.get('password')?.hasError('pattern')) {
          <p-message severity="error" variant="simple" size="small">Invalid Password! </p-message>
          }
        </div>
        <div>
          <p-iconfield>
            <p-inputicon style="z-index: 1;" styleClass="pi pi-lock" />
            <p-password id="repeat-password" formControlName="repeatPassword" [toggleMask]="true" class="w-full"
              placeholder="Repeat Password" [feedback]="false" autocomplete="new-password" />
          </p-iconfield>
          @if (resetForm.get('repeatPassword')?.dirty && resetForm.get('repeatPassword')?.hasError('required')) {
          <p-message severity="error" variant="simple" size="small"> Password is required!</p-message>
          }
          @else if (resetForm.get('repeatPassword')?.dirty && !resetForm.get('repeatPassword')?.hasError('required')
          &&resetForm.get('repeatPassword')?.hasError('pattern')) {
          <p-message severity="error" variant="simple" size="small">Invalid Password! </p-message>
          }
          @else if (resetForm.get('repeatPassword')?.value && resetForm.get('repeatPassword')?.hasError('notMatching')
          && resetForm.get('repeatPassword')?.touched) {
          <p-message severity="error" variant="simple" size="small"> Password do not match! </p-message>
          }
        </div>
        <p-button [raised]="true" label="Update Password" (click)="onUpdatePassword()" icon="pi pi-check"></p-button>
      </div>
      }
      @else {
      <div class="flex flex-col justify-center items-center gap-4">
        <p-message showTransitionOptions="0ms" severity="info">For security purposes, you have been automatically signed
          out of all other devices.</p-message>
        <p-message showTransitionOptions="0ms" severity="secondary">You will be redirect to signin page within {{timer}}
          seconds</p-message>
        <p-button [raised]="true" label="Go to Sign in" (onClick)="onRedirect()"></p-button>
      </div>
      }
    </div>
  </form>
  }
  }
  @else {
  @if (resetForm) {
  <div [formGroup]="resetForm"
    class="flex flex-col justify-center items-center reset-card-container w-full py-12 px-6 bg-white">
    <div class="flex-col flex items-center justify-center mb-4">
      <h1 class="text-3xl font-bold text-blue-600 mb-1">Task Tide</h1>
      <p class="text-lg font-medium text-blue-400 mb-8">Ride the wave of productivity</p>
      <h2 class="text-center font-semibold  mb-2"
        [ngClass]="isPasswordLinkSended ? 'text-2xl text-green-500' :'text-xl'">
        {{isPasswordLinkSended ? 'Check Your Email' : 'Reset Your Password'}}</h2>
      <p class="text-gray-400 text-base">We'll send you instructions to reset your password</p>
    </div>
    @if (isPasswordLinkSended) {
    <p-message severity="info" showTransitionOptions="0ms" class="mb-4">A secure link to reset your password has
      been
      sent to your email address. Please check your inbox and follow the instructions.</p-message>
    <p-message showTransitionOptions="0ms" severity="secondary" class="mb-4">You will be redirect to signin page within
      {{timer}}
      seconds</p-message>
    }@else {
    <div class="mb-8 p-4 text-center bg-blue-400/10 border border-blue-400/30 rounded-xl">
      <h3 class="text-blue-500 text-xl font-semibold mb-2">How it works</h3>
      <p class="text-blue-500 text-sm leading-normal text-justify">
        Enter your email below and we'll send you a secure link to reset your password. Check your inbox and follow the
        instructions.
      </p>
    </div>
    }
    @if (!isPasswordLinkSended) {
    <div style="width: 100%;text-align: center;gap: 15px;" class="flex-column align-center-center">
      <div>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-envelope" />
          <input required trimVal pInputText id="email" formControlName="userEmail" type="email" placeholder="Email" />
          @if (emailState.status === AUTH_STATUS.EMAIL.CHECKING) {
          <p-inputicon styleClass="pi pi-spinner pi-spin" />
          }
          @else if (emailState.status === AUTH_STATUS.EMAIL.CHECKED && emailState.isEmailRegistered === true) {
          <p-inputicon styleClass="pi pi-check" style="color: limegreen;" />
          }
          @else if(emailState.status === AUTH_STATUS.EMAIL.CHECKED && emailState.isEmailRegistered === false) {
          <p-inputicon styleClass="pi pi-times" style="color: lightcoral;" />
          }
        </p-iconfield>
        @if (resetForm.get('userEmail')?.dirty && resetForm.get('userEmail')?.hasError('required') &&
        !resetForm.get('userEmail')?.hasError('pattern') &&
        !resetForm.get('userEmail')?.hasError('emailNotRegistered')) {
        <p-message severity="error" variant="simple" size="small"> Email is Required! </p-message>
        }
        @else if (resetForm.get('userEmail')?.dirty && resetForm.get('userEmail')?.hasError('pattern') &&
        !resetForm.get('userEmail')?.hasError('required')
        && !resetForm.get('userEmail')?.hasError('emailNotRegistered')) {
        <p-message severity="error" variant="simple" size="small"> Invalid Email! </p-message>
        }
        @else if(resetForm.get('userEmail')?.dirty && resetForm.get('userEmail')?.hasError('emailNotRegistered') &&
        !resetForm.get('userEmail')?.hasError('required') && !resetForm.get('userEmail')?.hasError('pattern')){
        <p-message severity="error" variant="simple" size="small"> Email is not registered yet! </p-message>
        }
        @else if (resetForm.get('userEmail')?.dirty && resetForm.get('userEmail')?.hasError('sendMailFailed')) {
        <p-message severity="error" variant="simple" size="small"> Mail Send Failed, Please Try again later!;
        </p-message>
        }
      </div>
      <div style="gap: 10px;" class="flex-row align-center-center">
        <p-button [raised]="true" label="Reset Password" (click)="onReset()"
          [loading]="emailState.status === AUTH_STATUS.EMAIL.SENDING"
          [disabled]="!emailState.isEmailRegistered || !resetForm.get('userEmail')?.valid"></p-button>
        @if (!emailState.isEmailRegistered && emailState.status !== AUTH_STATUS.EMAIL.INITIAL && emailState.status !==
        AUTH_STATUS.EMAIL.CHECKING) {
        <p-button [raised]="true" label="Sign Up" routerLink="../signup"
          [queryParams]="{email:resetForm.get('userEmail')?.value}" />
        }
      </div>
    </div>
    }
    @else {
    <p-button label="Go to Sign in" [raised]="true" (onClick)="onRedirect()"></p-button>
    }
    <a class="mt-6 text-center flex items-center gap-1" routerLink="/signin"> <i class="pi pi-angle-left"></i> Back to
      Sign In</a>
  </div>
  }
  }
</div>

<p-toast />