<div style="width: 100%;height: 100%;" class="flex-row align-center-center">
  @if (isVerifyingPage) {
  @if (resetForm) {
  <form [formGroup]="resetForm" style="width: 100%;" class="flex-row align-center-center">
    <p-card appearance="outlined" class="reset-card-container">
      <ng-template #header>
        <div class="flex-column align-center-center">
          <h2>Reset Your Password</h2>
        </div>
      </ng-template>
      <div class="flex-column align-center-center">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-envelope" />
          <input required trimVal pInputText id="email" formControlName="userEmail" type="email" placeholder="Email"
            autocomplete="email" />
        </p-iconfield>
      </div>
      @if(!isPasswordUpdated){
      <div class="flex-column align-center-center" style="width: 100%;text-align: center;gap: 15px;">
        <div>
          <p-iconfield>
            <p-inputicon style="z-index: 1;" styleClass="pi pi-lock" />
            <p-password id="password" formControlName="password" [toggleMask]="true" class="w-full"
              placeholder="Password" [feedback]="false" autocomplete="new-password" />
          </p-iconfield>
          @if (resetForm.get('password')?.dirty && resetForm.get('password')?.hasError('required')) {
          <p-message severity="error" variant="simple" size="small"> Password is required!</p-message>
          }
          @else if (resetForm.get('password')?.dirty && !resetForm.get('password')?.hasError('required')
          &&resetForm.get('password')?.hasError('pattern')) {
          <p-message severity="error" variant="simple" size="small">Invalid Password! </p-message>
          }
        </div>
        <div>
          <p-iconfield>
            <p-inputicon style="z-index: 1;" styleClass="pi pi-lock" />
            <p-password id="repeat-password" formControlName="repeatPassword" [toggleMask]="true" class="w-full"
              placeholder="Repeat Password" [feedback]="false" autocomplete="new-password" />
          </p-iconfield>
          @if (resetForm.get('repeatPassword')?.dirty && resetForm.get('repeatPassword')?.hasError('required')) {
          <p-message severity="error" variant="simple" size="small"> Password is required!</p-message>
          }
          @else if (resetForm.get('repeatPassword')?.dirty && !resetForm.get('repeatPassword')?.hasError('required')
          &&resetForm.get('repeatPassword')?.hasError('pattern')) {
          <p-message severity="error" variant="simple" size="small">Invalid Password! </p-message>
          }
          @else if (resetForm.get('repeatPassword')?.value && resetForm.get('repeatPassword')?.hasError('notMatching')
          && resetForm.get('repeatPassword')?.touched) {
          <p-message severity="error" variant="simple" size="small"> Password do not match! </p-message>
          }
        </div>
        <p-button [raised]="true" label="Update Password" (click)="onUpdatePassword()" icon="pi pi-check"></p-button>
      </div>
      }
      @else {
      <div class="flex-column align-center-center" style="gap: 15px;">
        <p>Your Password has been Updated Successfully!, you will be redirect to login page within {{timer}} seconds</p>
        <p-button [raised]="true" label="Go to Login" (onClick)="onRedirect()"></p-button>
      </div>
      }
    </p-card>
  </form>

  }
  }
  @else {
  @if (resetForm) {
  <p-card [formGroup]="resetForm" appearance="outlined"
    class="reset-card-container flex-row align-center-center w-full">
    <ng-template #header>
      <h2 style="font-size: 20px;font-weight: bold;text-align: center;">Reset Your Password</h2>
      @if (isPasswordLinkSended) {
      <ng-container *ngTemplateOutlet="emailSendSuccess"></ng-container>
      }@else {
      <p style="text-align: justify;">
        To reset your password, enter your email below and submit. An email will be sent to you with instructions
        about how to complete the process.
      </p>
      }
    </ng-template>
    @if (!isPasswordLinkSended) {
    <div style="width: 100%;text-align: center;gap: 15px;" class="flex-column align-center-center">
      <div>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-envelope" />
          <input required trimVal pInputText id="email" formControlName="userEmail" type="email" placeholder="Email"
            autocomplete="email" />
          @if (emailState.status === AUTH_STATUS.EMAIL.CHECKING) {
          <p-inputicon styleClass="pi pi-spinner pi-spin" />
          }
          @else if (emailState.status === AUTH_STATUS.EMAIL.CHECKED && emailState.isEmailAvailable === false) {
          <p-inputicon styleClass="pi pi-check" style="color: limegreen;" />
          }
          @else if(emailState.status === AUTH_STATUS.EMAIL.CHECKED && emailState.isEmailAvailable === true) {
          <p-inputicon styleClass="pi pi-times" style="color: lightcoral;" />
          }
        </p-iconfield>
        @if (resetForm.get('userEmail')?.dirty && resetForm.get('userEmail')?.hasError('required') &&
        !resetForm.get('userEmail')?.hasError('pattern') &&
        !resetForm.get('userEmail')?.hasError('emailNotExist')) {
        <p-message severity="error" variant="simple" size="small"> Email is Required! </p-message>
        }
        @else if (resetForm.get('userEmail')?.dirty && resetForm.get('userEmail')?.hasError('pattern') &&
        !resetForm.get('userEmail')?.hasError('required')
        && !resetForm.get('userEmail')?.hasError('emailNotExist')) {
        <p-message severity="error" variant="simple" size="small"> Invalid Email! </p-message>
        }
        @else if(resetForm.get('userEmail')?.dirty && resetForm.get('userEmail')?.hasError('emailNotExist') &&
        !resetForm.get('userEmail')?.hasError('required') && !resetForm.get('userEmail')?.hasError('pattern')){
        <p-message severity="error" variant="simple" size="small"> Email is not registered yet! </p-message>
        }
        @else if (resetForm.get('userEmail')?.dirty && resetForm.get('userEmail')?.hasError('sendMailFailed')) {
        <p-message severity="error" variant="simple" size="small"> Mail Send Failed, Please Try again later!;
        </p-message>
        }
      </div>
      <div style="gap: 10px;" class="flex-row align-center-center">
        <p-button [raised]="true" label="Reset Password" (click)="onReset()"
          [loading]="emailState.status === AUTH_STATUS.EMAIL.SENDING"
          [disabled]="!emailState.isEmailAvailable || !resetForm.get('userEmail')?.valid"></p-button>
        @if (!emailState.isEmailAvailable && emailState.status !== AUTH_STATUS.EMAIL.INITIAL) {
        <p-button [raised]="true" label="Sign Up" routerLink="../signup"
          [queryParams]="{email:resetForm.get('userEmail')?.value}" />
        }
      </div>
    </div>
    }
    @else {
    <p-button label="Go to Login" [raised]="true" (onClick)="onRedirect()"></p-button>
    }
  </p-card>
  }
  }
</div>

<ng-template #emailSendSuccess>
  <div class="flex-column align-center-center" style="gap: 15px;">
    <div style="gap: 10px;" class="flex-row align-center-center">
      <i class="pi pi-check-circle"></i>
      <p style="width: 80%;">A link to reset your password has been sent to your email address. Please check your inbox.
      </p>
    </div>
    <span>You will be redirected to the login page in {{timer}} seconds.</span>
  </div>
</ng-template>

<p-toast />