<div class="p-8">
  <div class="mb-5">
    <h2 class="text-3xl font-bold mb-2">Profile Settings</h2>
    <p class="text-gray-500">Manage your account settings and preferences</p>
  </div>
  <p-card>
    @if (userForm) {
    <div [formGroup]="userForm">
      <h3 class="text-xl font-semibold">Personal Information</h3>
      <p-divider class="!m-2" />
      <div class="flex flex-col">
        <!-- Name -->
        <div class="flex gap-3 items-center justify-center mt-3 mb-1 w-full">
          <div class="w-1/2">
            <h4 class="mb-1">Name</h4>
            <p-iconfield>
              <p-inputicon styleClass="pi pi-user" />
              <input pInputText id="first-name" formControlName="name" type="text" placeholder="Name"
                autocomplete="name" />
            </p-iconfield>
            <div class="form-error-container"></div>
          </div>
          <!-- Email -->
          <div class="w-1/2 flex flex-col items-start">
            <h4 class="mb-1">Email</h4>
            <div class="flex flex-wrap w-full gap-4 items-center">
              <!-- Input Field with Icons -->
              <div class="flex flex-col flex-1 min-w-[200px]">
                <p-iconfield>
                  <p-inputicon styleClass="pi pi-envelope" />
                  <input type="text" id="email" pInputText formControlName="email" placeholder="Email"
                    autocomplete="email" class="w-full" />
                  @if (profileStatus.email.status === PROFILE_STATUS.EMAIL.CHECKING) {
                  <p-inputicon styleClass="pi pi-spinner pi-spin" />
                  }
                  @else if (profileStatus.email.status === PROFILE_STATUS.EMAIL.CHECKED &&
                  profileStatus.email.isRegistered === false && userForm.get('email')?.value) {
                  <p-inputicon styleClass="pi pi-check" style="color: limegreen;" />
                  }
                  @else if(profileStatus.email.status === PROFILE_STATUS.EMAIL.CHECKED &&
                  profileStatus.email.isRegistered === true && userForm.get('email')?.value) {
                  <p-inputicon styleClass="pi pi-times" style="color: lightcoral;" />
                  }
                </p-iconfield>
                <!-- Error Message -->
                <div class="form-error-container"
                  [ngClass]="profileStatus.link.status === PROFILE_STATUS.LINK.SENT ? 'mt-2' : ''">
                  @if (userForm.get('email')?.hasError('pattern') && userForm.get('email')?.dirty) {
                  <p-message severity="error" variant="simple" size="small" class="text-sm" hideTransitionOptions="0ms"
                    showTransitionOptions="0ms">
                    Invalid Email!
                  </p-message>
                  }
                  @else if (userForm.get('email')?.hasError('emailRegistered') && userForm.get('email')?.dirty) {
                  <p-message severity="error" variant="simple" size="small" class="text-sm" hideTransitionOptions="0ms"
                    showTransitionOptions="0ms">
                    This email is already registered
                  </p-message>
                  }
                  @else if(userForm.get('email')?.dirty && profileStatus.link.status === PROFILE_STATUS.LINK.SENT){
                  <p-message severity="info" variant="simple" size="small" class="text-sm flex items-start">
                    <div>
                      <span>A verification link has been sent to: <b> {{currentUser().email}}.</b></span>
                      <span>For security reasons, you may request another email change after 30 minutes.</span>
                    </div>
                  </p-message>
                  }
                </div>
              </div>
              <!-- Change Button -->
              @if (profileStatus.email.status === PROFILE_STATUS.EMAIL.INITIAL || profileStatus.email.isRegistered ===
              true || profileStatus.email.status === PROFILE_STATUS.EMAIL.CHECKING) {
              <div>
                <p-button class="w-auto" (onClick)="onEmailChange()" label="Change" />
                <div class="form-error-container"></div>
              </div>
              }
              <!-- Send Link Button -->
              @if (userForm.get('email')?.valid && !profileStatus.email.isRegistered && profileStatus.email.status ===
              PROFILE_STATUS.EMAIL.CHECKED) {
              <div>
                <p-button class="w-auto" (onClick)="onSendLink()"
                  [loading]="profileStatus.link.status === PROFILE_STATUS.LINK.SENDING"
                  [label]="profileStatus.link.status === PROFILE_STATUS.LINK.SENDING ? 'Sending...' : 'Send Link'" />
                <div class="form-error-container"></div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      <h3 class="text-xl font-semibold mt-1">Change Password</h3>
      <p-divider class="!m-2" />
      <div class="flex flex-col mt-3 mb-5">
        <div class="mb-5">
          <h4 class="mb-1">Current Password</h4>
          <div class="flex gap-3 w-full">
            <!-- Current Password -->
            <div>
              <p-iconfield>
                <p-inputicon style="z-index: 1;" styleClass="pi pi-lock" />
                <p-password id="password" formControlName="currentPassword" toggleMask="true" class="w-full"
                  placeholder="Current Password" feedback="false" />
              </p-iconfield>
              <div class="form-error-container max-w-[450px]">
                @if (profileStatus.password.status === PROFILE_STATUS.PASSWORD.SENT) {
                <p-message severity="info" variant="simple" size="small" class="text-sm" hideTransitionOptions="0ms"
                  showTransitionOptions="0ms">
                  <div>
                    <span>We will send instructions to this email address: <b>{{currentUser().email}}</b>.</span>
                  </div>
                </p-message>
                }
              </div>
            </div>
            <p-button label="Change Password" (onClick)="onChangePassword()"></p-button>
          </div>
        </div>
        <p-message severity="secondary" showTransitionOptions="0ms">
          <div class="flex flex-col">
            <p class="text-base font-semibold">Password Requirements</p>
            <ul class="list-disc m-6 pl-2 my-0 leading-normal">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
            </ul>
          </div>
        </p-message>
      </div>
    </div>
    }
  </p-card>
</div>

<p-toast />