@if (taskForm) {
<form [formGroup]="taskForm" class="flex flex-col gap-6">
  <!-- Main Task Form -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Title - Full Width -->
    <div class="col-span-full">
      <label for="title" class="block text-sm font-medium text-gray-700 mb-1">Title <span class="text-red-500">*</span>
      </label>
      <input required pInputText id="title" formControlName="title" class="w-full" placeholder="Enter task title..." />
      @if (taskForm.get('title')?.dirty && taskForm.get('title')?.hasError('required')) {
      <p-message severity="error" variant="simple" size="small">Title is required!</p-message>
      }
    </div>

    <!-- Priority -->
    <div class="space-y-1">
      <label for="priority" class="block text-sm font-medium text-gray-700">Priority</label>
      <p-select id="priority" inputId="priority" [options]="priorities" formControlName="priority" optionLabel="name"
        optionValue="value" placeholder="Select priority" focusOnHover="true" styleClass="w-full" [showClear]="true"
        appendTo="body">
      </p-select>
    </div>

    <!-- Due Date -->
    <div class="space-y-1">
      <label for="dueDate" class="block text-sm font-medium text-gray-700">Due Date</label>
      <p-datepicker formControlName="dueDate" placeholder="Due Date" id="dueDate" showIcon iconDisplay="input"
        [showTime]="false" class="w-full" dateFormat="dd.mm.yy" appendTo="body" [minDate]="today" [defaultDate]="today"
        hourFormat="24" />
      <div *ngIf="isDateExpired(taskForm.get('dueDate')?.value)" class="expired-date-indicator">
        <i class="pi pi-exclamation-triangle"></i> Due date {{ taskForm.get('dueDate')?.value | date }}
        has passed
      </div>
    </div>

    <!-- Description - Full Width -->
    <div class="col-span-full space-y-1">
      <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
      <textarea rows="3" cols="30" pTextarea class="w-full" formControlName="description"
        placeholder="Add description..." id="description"></textarea>
    </div>

    <!-- Comments - Full Width -->
    <!-- <div class="col-span-full space-y-1">
        <label class="block text-sm font-medium text-gray-700">Comments</label>
        <textarea pInputTextarea formControlName="comment" class="w-full" rows="2" placeholder="Add comments...">
        </textarea>
      </div> -->

    <!-- Tags -->
    <div class="col-span-full space-y-1">
      <label for="tags" class="block text-sm font-medium text-gray-700">Tags <span class="text-red-500">*</span></label>
      <p-autocomplete formControlName="tags" [suggestions]="filteredSuggestions()" class="block w-full" id="tags"
        (completeMethod)="filterSuggestionsChips($event)" optionLabel="name" appendTo="body" completeOnFocus="true"
        multiple="true" focusOnHover="true" dataKey="name">
        <!-- [appendTo]="taskDialog" -->
        <ng-template let-suggestion #item>
          <div class="flex items-center gap-2">
            <span class="w-3 h-3 rounded-full mr-2" [ngStyle]="{'background-color': suggestion.color}"></span>
            <div>{{ suggestion.name }}</div>
          </div>
        </ng-template>
        <ng-template pTemplate="selectedItem" let-suggestion>
          <div class="flex items-center px-2 py-1 rounded-full text-sm" [ngStyle]="suggestion | tagBgStyle">
            <span>{{ suggestion.name }}</span>
            <button type="button" class="ml-1 hover:text-red-600 focus:outline-none" (click)="removeChip(suggestion)">
              <span class="sr-only">Remove</span>
              <i class="pi pi-times" style="font-size: 0.7rem;"></i>
            </button>
          </div>
        </ng-template>
        <ng-template #header>
          <div class="font-medium px-3 py-2">Available Tags</div>
        </ng-template>
      </p-autocomplete>
      @if (taskForm.get('tags')?.dirty && taskForm.get('tags')?.hasError('required')) {
      <p-message severity="error" variant="simple" size="small"> Tags is required!</p-message>
      }
    </div>
  </div>

  <!-- Subtasks Section -->
  <div formArrayName="subTasks" class="space-y-4">
    <div class="flex items-center justify-between">
      <h3 class="text-lg font-medium text-gray-900">Subtasks</h3>
      <p-button icon="pi pi-plus" label="Add Subtask" (onClick)="addSubTask()" severity="secondary" [text]="true">
      </p-button>
    </div>

    <p-accordion value="0">
      @for (subtask of subTasks.controls; track subtask; let i = $index) {
      <p-accordion-panel [value]="i">
        <div [formGroupName]="i" class="pl-6 pr-6 border-l-2 border-gray-200 pt-4 space-y-4">
          <p-accordion-header>
            <div class="flex items-center justify-between w-full">
              <div class="flex items-center gap-2">
                <span class="font-medium text-gray-700">Sub task {{ i + 1 }}</span>
              </div>

              <div class="flex items-center gap-2">
                <div (click)="$event.stopPropagation()">
                  <button type="button" class="p-button p-button-danger p-button-text"
                    (mousedown)="$event.stopPropagation()"
                    (click)="$event.stopPropagation(); $event.preventDefault(); removeSubTask(i)">
                    <i class="pi pi-trash"></i>
                  </button>
                </div>

                <ng-template #toggleicon let-active="active">
                  <i *ngIf="active" class="pi pi-angle-up"></i>
                  <i *ngIf="!active" class="pi pi-angle-down"></i>
                </ng-template>
              </div>
            </div>
          </p-accordion-header>
          <p-accordion-content class="block">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <!-- Subtask Title -->
              <div class="col-span-full">
                <label class="block text-sm font-medium text-gray-700 mb-1">Title <span
                    class="text-red-500">*</span></label>
                <input required pInputText formControlName="title" class="w-full"
                  placeholder="Enter subtask title..." />
              </div>

              <!-- Subtask Priority -->
              <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Priority</label>
                <p-select [options]="priorities" formControlName="priority" optionLabel="name" optionValue="value"
                  placeholder="Select priority" styleClass="w-full" [showClear]="true" appendTo="body">
                </p-select>
              </div>

              <!-- Subtask Due Date -->
              <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">Due Date</label>
                <p-datepicker formControlName="dueDate" placeholder="Due Date" id="dueDate" showIcon iconDisplay="input"
                  class="w-full" dateFormat="dd.mm.yy" appendTo="body" [minDate]="today" [defaultDate]="today" />
              </div>

              <!-- Subtask Description -->
              <div class="col-span-full">
                <label class="block text-sm font-medium text-gray-700 mb-1">Description</label>
                <textarea rows="3" cols="30" pTextarea class="w-full" formControlName="description"
                  placeholder="Add description..."></textarea>
              </div>

              <!-- Subtask Comments -->
              <!-- <div class="col-span-full">
                  <label class="block text-sm font-medium text-gray-700 mb-1">Comments</label>
                  <textarea rows="2" cols="30" pTextarea class="w-full" formControlName="comment"
                    placeholder="Add comments..."></textarea>
                </div> -->

            </div>
          </p-accordion-content>
        </div>
      </p-accordion-panel>
      }
    </p-accordion>
  </div>
</form>
}

<!-- Tag Dialog -->