.p-inputtext {
  width: 100%;
}

::ng-deep .p-card {
  padding: 4rem;
}

::ng-deep p-password .p-password-input {
  width: 300px;
  padding-inline-start: calc((var(--p-form-field-padding-x)* 2) + var(--p-icon-size));
}

::ng-deep .p-iconfield {
  width: 300px;
}