<div class="flex-row align-center-center signup-parent" style="width: 100%;height: 100%;">
  @if (signInForm) {
  <p-card appearance="outlined">
    <ng-template #header>
      <div class="flex-column align-center-center">
        <h3>Login to your account</h3>
        <span style="margin-bottom: 10px;">Don't have an account? <a class="anchorTag" href="/signup">Sign
            Up</a></span>
      </div>
    </ng-template>
    <form [formGroup]="signInForm" class="flex-column align-center-center" style="gap: 15px;">
      <div>
        <p-iconfield>
          <p-inputicon styleClass="pi pi-envelope" />
          <input required trimVal pInputText id="email" formControlName="email" type="email" placeholder="Email"
            autocomplete="email" />
        </p-iconfield>
        @if (signInForm.get('email')?.dirty && signInForm.get('email')?.hasError('required')) {
        <p-message severity="error" variant="simple" size="small"> Email is required!</p-message>
        }
        @else if (signInForm.get('email')?.dirty && !signInForm.get('email')?.hasError('required') &&
        signInForm.get('email')?.hasError('pattern') ) {
        <p-message severity="error" variant="simple" size="small"> Invalid Email!</p-message>
        }
        @else if (signInForm.get('email')?.dirty && !signInForm.get('email')?.hasError('required') &&
        !signInForm.get('email')?.hasError('pattern') && signInForm.get('email')?.hasError('userNotFound') ) {
        <p-message severity="error" variant="simple" size="small"> Account Not found </p-message>
        }
      </div>
      <div>
        <p-iconfield>
          <p-inputicon style="z-index: 1;" styleClass="pi pi-lock" />
          <p-password id="password" formControlName="password" [toggleMask]="true" class="w-full" placeholder="Password"
            [feedback]="false" />
        </p-iconfield>
        @if ( signInForm.get('password')?.dirty && signInForm.get('password')?.hasError('required')) {
        <p-message severity="error" variant="simple" size="small"> Password is required!</p-message>
        }
        @else if (signInForm.get('password')?.dirty && !signInForm.get('password')?.hasError('required') &&
        signInForm.get('password')?.hasError('pattern')) {
        <p-message severity="error" variant="simple" size="small">Invalid Password! </p-message>
        }
        @else if (signInForm.get('password')?.dirty && !signInForm.get('password')?.hasError('required') &&
        !signInForm.get('password')?.hasError('pattern') && signInForm.get('password')?.hasError('passwordMismatch')) {
        <p-message severity="error" variant="simple" size="small">Incorrect Password </p-message>
        }
      </div>
      <div class="flex-row align-end-center" style="width: 100%;">
        <a class="anchorTag"
          [href]="this.signInForm.get('email')?.valid && this.signInForm.get('email')?.value ? '/resetPassword?email=' + this.signInForm.get('email')?.value : './resetPassword'">
          Forgot Password? </a>
      </div>
      <div class="flex-row align-center-center">
        <p-button label="Sign In" [raised]="true" (click)="onLogin()" type="button"></p-button>
      </div>
    </form>
  </p-card>
  }
</div>

<p-toast />