<!-- Mobile Header with Menu Button -->
<div *ngIf="isMobile()" class="sm:hidden p-4 bg-gray-100 flex items-center justify-between w-full">
  <p-button class="pi pi-bars" (onClick)="toggleDrawer()" label="Menu" severity="secondary"></p-button>
  <h1 class="text-lg font-semibold">Task Tide</h1>
</div>

<!-- Mobile Drawer -->
<p-drawer *ngIf="isMobile()" [visible]="drawerVisible()" (onHide)="drawerVisible.set(false)" [modal]="true"
  position="left" closable="false" class="sm:hidden">
  <app-side-nav></app-side-nav>
</p-drawer>

<!-- Desktop Sidebar -->
<div *ngIf="!isMobile()"
  class="hidden sm:block w-64 fixed h-full border-r border-gray-200 bg-white sm:overflow-y-scroll">
  <app-side-nav></app-side-nav>
</div>

<!-- Main Content -->
<div class="sm:ml-64 p-4 sm:h-auto" style="background-color: #f8fafc;">
  <router-outlet></router-outlet>
</div>