<div class="flex min-h-screen bg-gray-50">
  <div class="w-64 bg-white border-r border-gray-200 p-4">
    <div class="flex items-center gap-2 mb-3">
      <app-user-avatar size="medium" />
      <!-- <img src="" alt="Profile Image"> -->
      <div class="w-4/5 flex items-center justify-between">
        <div class="flex flex-col">
          <span>{{userData()?.name}} </span>
          <span style="font-size: 10px;">{{userData()?.email}}</span>
        </div>
        <i class="pi pi-cog text-base hover:text-blue-500 cursor-pointer"></i>
      </div>
    </div>
    <div class="space-y-1">
      @for (item of filterItems;let index = $index;track $index) {
      <button class="w-full flex items-center gap-3 px-3 py-2 text-gray-700 rounded-lg" tabindex="0"
        (click)="onFilterSelect(item)"
        [ngClass]="selectedFilterItem === item.value ? 'bg-blue-50 text-blue-600' : 'hover:bg-gray-100'">
        <i [class]="'pi ' + 'pi-'+item.icon"></i> {{item.name}}
      </button>
      }
    </div>
    <div class="mt-5">
      <h2 class="text-sm font-semibold text-gray-600 mb-2">Priority</h2>
      <div class="space-y-1">
        @for (priority of priorities; track $index) {
        <button tabindex="0" class="w-full flex items-center gap-2 px-3 py-2 text-gray-700 rounded-lg"
          [ngClass]="selectedFilterItem === priority.value ? 'bg-blue-50 text-blue-600' : 'hover:bg-gray-100'"
          (click)="onFilterPriority(priority.value)">
          <div class="w-2 h-2 rounded-full" [ngStyle]="{'background-color': priority.color}">
          </div>
          {{priority.name}}
        </button>
        }
      </div>
    </div>
    <div class="mt-5">
      <div class="flex justify-between items-center">
        <h2 class="text-sm font-semibold text-gray-600 mb-2">Tags</h2>
      </div>
      <div class="space-y-1">
        @if (tagForm) {
        <form [formGroup]="tagForm" class="flex gap-2 items-center">
          <!-- Tag name -->
          <input id="name" pInputText formControlName="name" type="text"
            class="w-20 px-3 py-2 text-sm border-2 border-dashed border-gray-300 rounded-md focus:outline-none focus:border-blue-500 hover:border-gray-400 transition-colors duration-200 bg-white text-center"
            placeholder="Enter tag name..." />
          <!-- Tag Color -->
          <p-colorpicker id="tagColor" formControlName="color" appendTo="body" inputId="tagColor" />
          <!-- Submit Button -->
          @if(tagForm.get('name')?.value && tagForm.get('color')?.value){
          <button type="submit"
            class="flex-shrink-0 w-8 h-8 bg-blue-500 text-white rounded-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-1 transition-colors duration-200 disabled:opacity-50 disabled:cursor-not-allowed flex items-center justify-center"
            [disabled]="!tagForm.get('name')?.value || !tagForm.get('color')?.value" (click)="onAddTag()">
            <i class="pi pi-check text-sm"></i>
          </button>
          }
        </form>
        }
        @for (tag of tags(); track $index) {
        <button tabindex="0" class="w-full flex items-center justify-between gap-2 px-3 py-2 text-gray-700 rounded-lg"
          (click)="onFilterTag(tag?.id)"
          [ngClass]="selectedFilterItem === tag?.id ? 'bg-blue-50 text-blue-600' : 'hover:bg-gray-100'">
          <div class="flex items-center gap-2">
            <div class="w-2 h-2 rounded-full" [ngStyle]="{'background-color': tag.color}"></div>
            {{tag.name}}
          </div>
          <i class="pi pi-trash hover:text-red-500 cursor-pointer"
            (click)="$event.stopPropagation();onDeleteTag(tag.id)"></i>
        </button>
        }
      </div>
    </div>
  </div>
</div>