/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Inter";
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }

  a {
    @apply text-blue-500 font-semibold hover:text-blue-600
  }
}

@layer utilities {
  .er-m {
    color: #f44336;
  }

  .primary {
    color: #2563EB;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}


.thin-stroke {
  font-variation-settings:
    'GRAD' -25,
    'wght' 400;
}

/* WebKit Browsers */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.p-tooltip {
  max-width: 250px;
}

.p-tooltip .p-tooltip-text {
  padding: 0.4rem 0.6rem;
  font-size: 0.750rem;
  line-height: 1.4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.p-tooltip .p-tooltip-arrow {
  border-width: 5px;
  top: 15px;
  display: none;
}