/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css?family=Montserrat";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer primeng {
  :root {
    --primary-color: #2563eb;
    --primary-color-text: white;
    --surface-hover: rgba(37, 99, 235, 0.1);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.flex-column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
}

.flex-column-reverse {
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.align-start-start {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.align-start-center {
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.align-start-end {
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
}

.align-start {
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.align-center-start {
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.align-center-center {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.align-center-end {
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}

.align-center {
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.align-end-start {
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
}

.align-end-center {
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.align-end-end {
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
}

.align-end {
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}

.align-space-around {
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}

.align-space-around-start {
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

.align-space-around-center {
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.align-space-around-end {
  justify-content: space-around;
  align-items: flex-end;
  align-content: flex-end;
}

.align-space-between {
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.align-space-between-start {
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.align-space-between-center {
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.align-space-between-end {
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
}

.align-space-evenly {
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
}

.align-space-evenly-start {
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

.align-space-evenly-center {
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.align-space-evenly-end {
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: flex-end;
}

.align-start-space-between {
  justify-content: flex-start;
  align-content: space-between;
  align-items: stretch;
}

.align-center-space-between {
  justify-content: center;
  align-content: space-between;
  align-items: stretch;
}

.align-end-space-between {
  justify-content: flex-end;
  align-content: space-between;
  align-items: stretch;
}

.align-start-space-around {
  justify-content: flex-start;
  align-items: stretch;
  align-content: space-around;
}

.align-center-space-around {
  justify-content: center;
  align-content: space-around;
  align-items: stretch;
}

.align-end-space-around {
  justify-content: flex-end;
  align-content: space-around;
  align-items: stretch;
}

.fxFlex {
  flex: 1 1 100%;
  box-sizing: border-box;
}

.anchorTag {
  text-decoration: none;
  color: rgb(1, 107, 248);
}

.p-tooltip {
  max-width: 250px;
}

.p-tooltip .p-tooltip-text {
  padding: 0.4rem 0.6rem;
  font-size: 0.750rem;
  line-height: 1.4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.p-tooltip .p-tooltip-arrow {
  border-width: 5px;
  top: 15px;
  display: none;
}