::ng-deep .p-confirmpopup:before {
  top: 100%;
  transform: rotate(180deg);
}

.p-button-rounded {
  min-width: 36px !important;
  min-height: 36px !important;
  border-radius: 50% !important;
}

:ng-deep .p-calendar.date-expired .p-inputtext {
  border-color: #f44336;
  background-color: rgba(244, 67, 54, 0.1);
}