<div class="flex-1 p-8">
  @if (tasks && tasks.length) {
  <div class="flex justify-between items-center mb-8">
    <div class="relative">
      <i class="pi pi-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
      <input type="text" placeholder="Search tasks..." id="search_box" [formControl]="searchControl" tabindex="0"
        class="pl-10 pr-4 py-2 border border-gray-200 rounded-lg w-64 focus:outline-none focus:ring-2 focus:ring-blue-500" />
    </div>
    <button class="flex items-center gap-2 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600"
      (click)="onCreateTask()">
      <i class="pi pi-plus"></i>
      Add Task
    </button>
  </div>
  <div class="bg-white rounded-xl shadow-sm">
    <div class="p-6">
      <h2 class="text-xl font-semibold mb-4">{{headerText()}} Tasks</h2>
      <div class="space-y-4">
        @for (task of filteredTasks;let index = $index; track $index) {
        <div class="flex items-center gap-4 p-4 border border-gray-100 rounded-lg hover:bg-gray-50 ">
          <input [id]="index" type="checkbox" [checked]="task.isCompleted" (click)="onTaskStatusUpdate(task, false)"
            class="h-5 w-5 cursor-pointer accent-blue-500 focus:ring-1 focus:ring-blue-400" />
          <div class="flex-1">
            <h3 class="font-medium" [ngClass]="task.isCompleted ? 'text-gray-400 line-through' :'text-gray-700'">
              {{task.title}}
            </h3>
            <div class="flex items-center gap-2 mt-1">
              <span class="text-sm text-gray-500"
                [ngClass]="{'text-red-500' : isDateExpired(task.dueDate)}">{{task.dueDate | date }}</span>
              <!-- Redesigned priority indicator -->
              <span class="flex items-center gap-1 px-2 py-1 text-xs font-medium rounded-md" [ngClass]="task.priority==='high' ? 'bg-red-100 text-red-700 border border-red-300' :
            task.priority==='medium' ? 'bg-yellow-100 text-yellow-700 border border-yellow-300' : 
            'bg-green-100 text-green-700 border border-green-300'">
                {{task.priority | titlecase}}
              </span>

              <!-- Tags with different style -->
              @for (tag of task.tags; track $index) {
              <div
                class="flex items-center px-3 py-1 rounded-full text-xs font-medium hover:bg-gray-200 transition-all duration-150 ease-in-out"
                [ngStyle]="tag | tagBgStyle">
                <i class="text-xs pi pi-tag mr-1" style="font-size: 0.75rem !important;"></i>
                <span>{{tag.name}}</span>
              </div>
              }
            </div>
          </div>
          <i [ngClass]="task.isImportant ? 'pi-star-fill text-yellow-500' : 'pi-star text-grey-600'" tabindex="0"
            class="pi cursor-pointer hover:text-yellow-500" (click)="onTaskStatusUpdate(task, true)" role="button"></i>
          <i class="pi pi-pencil cursor-pointer text-gray-600 hover:text-blue-500" (click)="onEdit(task)" role="button"
            tabindex="0"></i>
          <i class="pi pi-trash cursor-pointer text-gray-600 hover:text-red-500" (click)="onDelete(task.id)"
            role="button" tabindex="0"></i>
        </div>
        }
      </div>
    </div>
  </div>
  }
  @else {
  <div class="flex-1 p-8">
    <div class="flex justify-between items-center mb-8">
      <h2 class="text-xl font-semibold">Welcome to TaskTide! 👋 </h2>
      <button (click)="onCreateTask()"
        class="flex items-center gap-2 px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors">
        <i class="pi pi-plus"></i>
        Create Your First Task
      </button>
    </div>

    <div class="bg-white rounded-xl shadow-sm p-8">
      <div class=" mx-auto text-center">
        <div class="mb-6">
          <i class="pi pi-sparkles" class="mx-auto text-blue-500"></i>
        </div>

        <h3 class="text-xl font-semibold mb-4">
          Get Started with TaskTide
        </h3>

        <p class="text-gray-600 mb-8">
          Stay organized and boost your productivity with TaskTide. Create your first task to get started!
        </p>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 text-left">
          <div class="p-4 bg-gray-50 rounded-lg">
            <div class="flex items-center gap-2 mb-2">
              <div class="w-8 h-8 bg-blue-100 rounded-lg flex items-center justify-center">
                <i class="pi pi-plus text-blue-500"></i>
              </div>
              <h4 class="font-medium">Add Tasks</h4>
            </div>
            <p class="text-sm text-gray-600">
              Create and organize your daily tasks
            </p>
          </div>

          <div class="p-4 bg-gray-50 rounded-lg">
            <div class="flex items-center gap-2 mb-2">
              <div class="w-8 h-8 bg-blue-100 rounded-lg flex items-center justify-center">
                <i class="pi pi-tag text-blue-500"> </i>
              </div>
              <h4 class="font-medium">Use Tags</h4>
            </div>
            <p class="text-sm text-gray-600">
              Categorize tasks with custom tags
            </p>
          </div>

          <div class=" p-4 bg-gray-50 rounded-lg">
            <div class="flex items-center gap-2 mb-2">
              <div class="w-8 h-8 bg-blue-100 rounded-lg flex items-center justify-center">
                <i class="pi pi-calendar text-blue-500"></i>
              </div>
              <h4 class="font-medium">Set Due Dates</h4>
            </div>
            <p class="text-sm text-gray-600">
              Never miss important deadlines
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>

<p-toast />
<p-confirmpopup />

<!-- Task Dialog -->
<p-dialog [(visible)]="taskDialogVisible" [modal]="true" [draggable]="false" [resizable]="false"
  styleClass="w-full max-w-3xl" [closeOnEscape]="true" [dismissableMask]="true" header="Create New Task"
  (visibleChange)="onDialogClose($event)" #taskDialog>
  <app-form-component #formComponent [tags]="tags" [formSubmitted]="submitting" [taskDialogRef]="taskDialog"
    (submitEmitter)="onFormSubmit($event)"></app-form-component>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <p-button label="Cancel" (onClick)="onCancel($event)" severity="secondary" [text]="true">
      </p-button>
      <p-button [label]="isEditDialog ? 'Update' :'Create'" (onClick)="isEditDialog ?  onEditSubmit() :  onSubmit()"
        [loading]="submitting">
      </p-button>
    </div>
  </ng-template>
</p-dialog>